body {
  display: flex;
  justify-content: center;
}

/* Classes */

.layoutContainer {
  text-align: center;
  /* background-image: url(/public/photos/whiteSwanLake.jpeg);
  background-position: center;
  background-size: cover; */
  height: 90vh;
  width: 100vw;
}

.navBar {
  font-size: 1rem;
}

.backgroundImg {
  width: 100%;
  height: auto;
}